.dice{
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    transition: .35s;
}

.dice-container{
    margin-top: 200px;
}

.dice div{
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    color: white;
    background-color: red;
}

.one{
    transform: translateZ(100px);
    background: url(images/Terning1.svg.png);
}

.two{
    transform: rotateX(-90deg) translateZ(100px);
    background-image: url(images/Terning2.svg.png);
}

.three{
    transform: rotateY(90deg) translateZ(100px);
    background-image: url(images/Terning3.svg.png);
}

.four{
    transform: rotateY(-90deg) translateZ(100px);
    background-image: url(images/Terning4.svg.png);
}
.five{
    transform: rotateX(90deg) translateZ(100px);
    background-image: url(images/Terning5.svg.png);
}
.six{
    transform: rotateY(180deg) translateZ(100px);
    background-image: url(images/Terning6.svg.png);
}

.roll-button{
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.button{
    padding: 10px 15px;
    border: none;
    background-color: #E8AA0C;
    font-size: 20px; 
}