<div class="dice-container">
  <figure class="dice" [style.transform]="rotate">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
    <div class="five"></div>
    <div class="six"></div>
  </figure>
</div>
<div class="roll-button">
  <input [disabled]="buttonDisabled" type="button" value="Roll it" class="button" (click)="roll()"/>
  <h3 *ngIf="actualNumber">You got a {{actualNumber}}</h3>
</div>